@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    @apply dark:bg-gray-900 dark:text-white;
}

/* Duel Filter Box Scroll */
.rdl-control {
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

.rdl-control::-webkit-scrollbar {
    /* Chrome, Edge, and Safari */
    @apply w-2;
}

.rdl-control::-webkit-scrollbar-track {
    @apply !bg-gray-200 !rounded-xl dark:!bg-gray-600;
}

.rdl-control::-webkit-scrollbar-thumb {
    @apply !bg-gradient-to-tr !from-green-400 !to-blue-500 !rounded-full;
}

/* Duel Filter Box Scroll Select Tag */
.rdl-control {
    @apply !rounded-xl dark:border-gray-700 !border !px-0 dark:bg-gray-700 dark:text-white;
}

.rdl-control option {
    @apply px-5 py-2 !text-sm;
}

/* Duel Filter Box Scroll Search Input */
.rdl-filter {
    @apply !rounded-lg dark:bg-gray-700 dark:text-white dark:border-gray-700;
}

/* Duel Filter Box Scroll Generic */
.rdl-control:focus,
.rdl-filter:focus {
    outline: none;
}

/* Duel Filter Box Arrow Selector */
.rdl-actions button {
    @apply dark:bg-gray-800 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700;
}
